.inner {
    height: rem(84px);

  }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}